.timeline>li{
    padding: 0 0 10px 0;
}

.timeline>li:hover{
    transition: 0.3s;
    outline: 2px solid red;
    outline-offset: 3px;
    outline-style:solid;
    transform: translateZ(0);
}


#img{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image:url("../../img/ryuflat.jpg");
}


#img:hover{
    background-image: url("../../img/ryu.jpg");
}

#img:after{
  background-image:url("../../img/ryuflat.jpg");
}
